# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Coverage
# =========================
.coverage
htmlcov/
